Repository to-be-pass/python-coding-test, pull requests merged in 2024-04, with the labels that each got.

#129 Bgm 109/027
  path/to/venv./bin/Activate.ps1
  path/to/venv./bin/activate
  path/to/venv./bin/activate.csh
  path/to/venv./bin/activate.fish
  path/to/venv./bin/dotenv
  path/to/venv./bin/pip
  path/to/venv./bin/pip3
  path/to/venv./bin/pip3.12
  path/to/venv./bin/py.test
  path/to/venv./bin/pytest
  path/to/venv./bin/python
  path/to/venv./bin/python3
  path/to/venv./bin/python3.12
  path/to/venv./pyvenv.cfg
  src/BGM-109/ch_09/solution_026.py
  src/BGM-109/ch_09/solution_027.py
Labels: Pass, 문제027

#132 Dayaelee/038
  src/dayaelee/ch_11/solution_038.py
Labels: Pass, 문제038

#133 Dayaelee/039
  src/dayaelee/ch_11/solution_039.py
Labels: Pass, 문제039

#134 040
  src/dayaelee/ch_11/solution_040.py
Labels: Pass, 문제040

#136 047
  src/dayaelee/ch_12/solution_047.py
Labels: Pass, 문제047
