Repository to-be-pass/python-coding-test, pull requests merged in 2024-02, with the labels that each got.

#75 ch_08-021. 할인 행사
  src/youngrongoh/ch_08/solution_021.py
Labels: Pass, 문제021

#77 ch_08-022. 오픈채팅방
  src/youngrongoh/ch_08/solution_022.py
Labels: Pass, 문제022

#78 ch_08-023. 베스트 앨범
  src/youngrongoh/ch_08/solution_023.py
Labels: Pass, 문제023

#79 ch_05:004 모의고사
  src/BGM-109/ch_05/solution_004.py
  tests/.env
Labels: Pass, 문제004

#81 Bgm 109/006
  src/BGM-109/ch_05/solution_006.py
  src/BGM-109/ch_05/solution_007.py
Labels: Pass, 문제006

#83 ch_06 스택 : 주식가격
  src/BGM-109/ch_06/solution_012.py
Labels: Pass, 문제012

#84 ch_08-024. 신고 결과 받기
  src/youngrongoh/ch_08/solution_024.py
Labels: Pass, 문제024

#90 ch_08-025. 메뉴 리뉴얼
  src/youngrongoh/ch_08/solution_025.py
Labels: Pass, 문제025

#91 ch_06: 크레인인형뽑기
  src/BGM-109/ch_05/solution_006.py
  src/BGM-109/ch_06/solution_013.py
Labels: Pass, 문제013

#92 Youngrongoh/026
  src/youngrongoh/ch_09/solution_026.py
Labels: Pass, 문제026

#93 ch_08-027. 이진 탐색 트리 구현
  src/youngrongoh/ch_09/solution_027.py
Labels: Pass, 문제027

#94 ch_09-028. 예상 대진표
  src/youngrongoh/ch_09/solution_028.py
Labels: Pass, 문제028

#101 ch_09-034. 폰켓몬
  src/youngrongoh/ch_10/solution_034.py
Labels: Pass, 문제034

#102 ch_10-035. 영어 끝말잇기
  src/youngrongoh/ch_10/solution_035.py
Labels: Pass, 문제035

#103 ch_10-036. 전화번호 목록
  src/youngrongoh/ch_10/solution_036.py
Labels: Pass, 문제036

#104 ch_10-033. 간단한 유니온-파인드 알고리즘 구현하기
  src/youngrongoh/ch_10/solution_033.py
Labels: Pass, 문제033

#105 ch_10-033. 경로 압축, 랭크로 최적화
  src/youngrongoh/ch_10/solution_033.py
Labels: Pass, 문제033

#110 Messe7654 Solve The Problem 006
  src/Messe7654/ch_05/solution_005.py
  src/Messe7654/ch_05/solution_006.py
Labels: Pass, 문제006

#112 Messe7654/007
  src/Messe7654/ch_05/solution_007.py
Labels: Pass, 문제007

#113 Messe7654/008
  src/Messe7654/ch_06/solution_008.py
Labels: Pass, 문제008

#116 Messe7654 Solve The Problem 010
  src/Messe7654/ch_06/solution_010.py
Labels: Pass, 문제010
