Repository to-be-pass/python-coding-test, pull requests merged in 2024-01, with the labels that each got.

#20 문제 001 : 배열 정렬하기
  src/tiaz0128/ch_05/solution_001.py
Labels: Pass, 문제001

#21 ch_05-001. 배열 정렬하기
  src/youngrongoh/ch_05/solution_001.py
Labels: Pass, 문제001

#22 ch_05-002. 배열 제어하기
  src/youngrongoh/ch_05/solution_002.py
Labels: Pass, 문제002

#23 ch_05-003. 두 개 뽑아서 더하기
  src/youngrongoh/ch_05/solution_003.py
Labels: Pass, 문제003

#24 ch_05-004. 모의고사
  src/youngrongoh/ch_05/solution_004.py
Labels: Pass, 문제004

#25 ch_05-005. 행렬의 곱셈
  src/youngrongoh/ch_05/solution_005.py
Labels: Pass, 문제005

#26 ch_05-006. 실패율
  src/youngrongoh/ch_05/solution_006.py
Labels: Pass, 문제006

#27 ch_05-007. 방문 길이
  src/youngrongoh/ch_05/solution_007.py
Labels: Pass, 문제007

#28 문제 002
  src/tiaz0128/ch_05/solution_002.py
Labels: Pass, 문제002

#29 문제 003
  src/tiaz0128/ch_05/solution_003.py
Labels: Pass, 문제003

#31 문제 004
  src/tiaz0128/ch_05/solution_004.py
Labels: Pass, 문제004

#32 문제 005
  src/tiaz0128/ch_05/solution_005.py
Labels: Pass, 문제005

#33 ch_06-008. 괄호 짝 맞추기
  src/youngrongoh/ch_06/solution_008.py
Labels: Pass, 문제008

#34 ch_06-009. 10진수를 2진수로 변환하기
  src/youngrongoh/ch_06/solution_009.py
Labels: Pass, 문제009

#35 ch_06-010. 괄호 회전하기
  src/youngrongoh/ch_06/solution_010.py
Labels: Pass, 문제010

#36 ch_06-011. 짝지어 제거하기
  src/youngrongoh/ch_06/solution_011.py
Labels: Pass, 문제011

#40 Youngrongoh/012
  src/youngrongoh/ch_06/solution_012.py
Labels: Pass, 문제012

#41 ch_06-012. 주식가격 - 답안 참고
  src/youngrongoh/ch_06/solution_012.py
Labels: Pass, 문제012

#47 ch_06-013. 크레인 인형 뽑기 게임
  src/youngrongoh/ch_06/solution_013.py
Labels: Pass, 문제013

#49 Messe7654 Solve The Problem 001
  src/Messe7654/ch_05/solution_001.py
Labels: Pass, 문제001

#50 Messe7654 Solve The Problem 002
  src/Messe7654/ch_05/solution_002.py
Labels: Pass, 문제002

#54 ch_06-014. 표 편집
  src/youngrongoh/ch_06/solution_014.py
Labels: Pass, 문제014

#55 Messe7654 Solve The Problem 003
  src/Messe7654/ch_05/solution_003.py
Labels: Pass, 문제003

#56 Create solution_004.py
  src/Messe7654/ch_05/solution_004.py
Labels: Pass, 문제004

#58 ch_07-016. 기능 개발
  src/youngrongoh/ch_07/solution_016.py
Labels: Pass, 문제016

#59 ch_07-017. 카드 뭉치
  src/youngrongoh/ch_07/solution_017.py
Labels: Pass, 문제017

#66 ch_08-018. 두 개의 수로 특정값 만들기
  src/youngrongoh/ch_08/solution_018.py
Labels: Pass, 문제018

#69 ch_08-019. 문자열 해싱을 이용한 검색 함수 만들기
  src/youngrongoh/ch_08/solution_019.py
Labels: Pass, 문제019

#70 ch_08-020. 완주하지 못한 선수
  src/youngrongoh/ch_08/solution_020.py
Labels: Pass, 문제020

#73 문제 009 : 10진수를 2진수로 변환하기
  src/dayaelee/ch_06/solution_009.py
Labels: Pass, 문제009
